# 04 Working with Data

- Reading files with open
- Writing files with open
- Loading data with pandas
- Working with and Saving data with pandas

<p align="center"> 
<img src="../images/04_Data/01_Read_files/01_file_object_1.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/01_Read_files/02_file_object_2.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/01_Read_files/03_open_file_file_path.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/01_Read_files/04_open_file_file_name.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/01_Read_files/05_open_file_mode.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/01_Read_files/06_obtain_file_information.png", width=800, height=600>|
</p>

In [1]:
# Check current working dirctory
!pwd

/home/ayman/projects/cognitiveclass/python-for-data-science/stp/workshop/notebooks

In [2]:
!wget -O ../data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2019-12-18 00:43:47--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘../data/Example1.txt’

../data/Example1.tx 100%[===================>]      45  --.-KB/s    in 0s

2019-12-18 00:43:49 (2.15 MB/s) - ‘../data/Example1.txt’ saved [45/45]

In [3]:
example1_path = '../data/Example1.txt'

In [4]:
file1 = open(example1_path, "r")
print(f'file1 object = {file1}')
print(f'Type of file1 object = {type(file1)}')

file1 object = <_io.TextIOWrapper name='../data/Example1.txt' mode='r' encoding='UTF-8'>
Type of file1 object = <class '_io.TextIOWrapper'>

In [5]:
file1.name

'../data/Example1.txt'

In [6]:
file1.mode

'r'

In [7]:
file1.close()

In [8]:
file1.closed

True

## with statement

<p align="center"> 
<img src="../images/04_Data/01_Read_files/07_with_statement.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/01_Read_files/08_print_file_content.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/01_Read_files/09_readlines.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/01_Read_files/10_readline.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/01_Read_files/11_loop_print_each_line.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/01_Read_files/12_specify_characters_num_to_read.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/01_Read_files/06_obtain_file_information.png", width=800, height=600>|
</p>

In [9]:
with open(example1_path,'r') as file1:
    file_contents = file1.read()
    print(f'file_contents \n{file_contents}')
print(file1.closed)    
print(f'file_contents \n{file_contents}')

file_contents
This is line 1
This is line 2
This is line 3
True
file_contents
This is line 1
This is line 2
This is line 3

### Read Multiple lines

In [10]:
with open(example1_path,'r') as file1:
    file_contents = file1.readlines()
    print(f'file_contents \n{file_contents}')
print(file1.closed)    
print(f'file_contents \n{file_contents}')

file_contents
['This is line 1 \n', 'This is line 2\n', 'This is line 3']
True
file_contents
['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [11]:
with open(example1_path,'r') as file1:
    file_contents = file1.readline()
    print(f'file_contents \n{file_contents}')
print(file1.closed)    
print(f'file_contents \n{file_contents}')

file_contents
This is line 1

True
file_contents
This is line 1

In [12]:
with open(example1_path,'r') as file1:
    for i,line in enumerate(file1):
        print(f'Line {i+1} contains {line}')

Line 1 contains This is line 1

Line 2 contains This is line 2

Line 3 contains This is line 3

# Writing files with open

<p align="center"> 
<img src="../images/04_Data/02_Write_files/01_write_file_object_1.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/02_Write_files/02_write_file_object_2.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/02_Write_files/03_write_with_statement.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/02_Write_files/04_loop_write_each_line.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/02_Write_files/05_append.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/02_Write_files/06_copy _file.png", width=800, height=600>|
</p>

In [1]:
example2_path ='../data/Example2.txt'

In [2]:
with open(example2_path,'w') as file2:
    file2.write('This is line A')

In [3]:
with open(example2_path,'r') as file2:
        print(file2.read())

This is line A

In [4]:
with open(example2_path,'w') as file2:
    file2.write("This is line A\n")
    file2.write("This is line B\n")
    file2.write("This is line C\n")

In [5]:
lines = ["This is line D\n",
         "This is line E\n",
         "This is line F\n"]
lines

['This is line D\n', 'This is line E\n', 'This is line F\n']

In [6]:
with open(example2_path,'a') as file2:
    for line in lines:
        file2.write(line)

In [7]:
with open(example2_path,'r') as file2:
    print(file2.read())

This is line A
This is line B
This is line C
This is line D
This is line E
This is line F

In [8]:
example3_path ='../data/Example3.txt'

In [9]:
with open(example2_path,'r') as readfile:
    with open(example3_path,'w') as writefile:
        for line in readfile:
            writefile.write(line)

In [10]:
with open(example3_path,'r') as testfile:    
    print(testfile.read())

This is line A
This is line B
This is line C
This is line D
This is line E
This is line F

In [11]:
testfile.name

'../data/Example3.txt'

# Loading data with pandas

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/01_import_pandas.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/02_dataframe.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/03_rows_columns.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/04_cast_dictionary_to_dataframe.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/05_keys_column_labels.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/06_values_rows_lists.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/07_create_dataframe_1_column.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/08_create_dataframe_multiple_columns.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/09_access_element_int.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/10_access_element_label.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/11_slice_dataframe_int.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/03_Load_pandas/12_slice_dataframe_label.png", width=800, height=600>|
</p>

In [12]:
import pandas as pd

###  Read data from CSV file online

In [13]:
csv_url = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv'

In [14]:
df = pd.read_csv(csv_url)

In [15]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

###  Read data from CSV file on disk

### Download CSV file to local disk

In [16]:
!wget -O ../data/TopSellingAlbums.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv

--2019-12-18 13:22:47--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 775 [application/octet-stream]
Saving to: ‘../data/TopSellingAlbums.csv’

../data/TopSellingA 100%[===================>]     775  --.-KB/s    in 0s

2019-12-18 13:22:49 (44.1 MB/s) - ‘../data/TopSellingAlbums.csv’ saved [775/775]

In [17]:
csv_path = '../data/TopSellingAlbums.csv'

In [18]:
df = pd.read_csv(csv_path)

In [19]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [20]:
df.iloc[0,0]

'Michael Jackson'

In [21]:
df.loc[0,'Artist']

'Michael Jackson'

In [22]:
df.loc[1,'Artist']

'AC/DC'

In [23]:
df.iloc[0:2,0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [24]:
df.loc[0:2,'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

## Working with and Saving data with pandas

<p align="center"> 
<img src="../images/04_Data/04_Save_pandas/01_list_unique_values.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/04_Save_pandas/02_list_unique_release_years.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/04_Save_pandas/03_True_values_series.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/04_Save_pandas/04_select_specified_columns_1.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/04_Save_pandas/05_select_specified_columns_2.png", width=800, height=600>|
</p>

<p align="center"> 
<img src="../images/04_Data/04_Save_pandas/06_save_csv.png", width=800, height=600>|
</p>

In [25]:
df['Released']

0    1982
1    1980
2    1973
3    1992
4    1977
5    1976
6    1977
7    1977
Name: Released, dtype: int64

In [26]:
len(df['Released'])

8

In [27]:
df['Released'].unique()

array([1982, 1980, 1973, 1992, 1977, 1976])

In [28]:
len(df['Released'].unique())

6

In [29]:
df['Released']>=1980

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: Released, dtype: bool

In [30]:
new_songs = df[df['Released']>=1980]
new_songs

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5

In [31]:
new_songs.to_csv('../data/new_songs.csv')

In [32]:
with open('../data/new_songs.csv','r') as songsfile:    
    print(songsfile.read())

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,,9.5
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5