# 04 Working with Data

- Reading files with open
- Writing files with open
- Loading data with pandas
- Working with and Saving data with pandas

In [111]:
# Check current working dirctory
!pwd

/home/ayman/projects/cognitiveclass/python-for-data-science/workshop/notebooks

In [112]:
!wget -O ../data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2019-07-31 12:08:35--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.193
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.193|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘../data/Example1.txt’

../data/Example1.tx 100%[===================>]      45  --.-KB/s    in 0s

2019-07-31 12:08:36 (8.26 MB/s) - ‘../data/Example1.txt’ saved [45/45]

In [113]:
example1_path = '../data/Example1.txt'

In [114]:
file1 = open(example1_path, "r")
print(f'file1 object = {file1}')
print(f'Type of file1 object = {type(file1)}')

file1 object = <_io.TextIOWrapper name='../data/Example1.txt' mode='r' encoding='UTF-8'>
Type of file1 object = <class '_io.TextIOWrapper'>

In [115]:
file1.name

'../data/Example1.txt'

In [116]:
file1.mode

'r'

In [117]:
file1.close()

In [118]:
file1.closed

True

## with statement

In [119]:
with open(example1_path,'r') as file1:
    file_contents = file1.read()
    print(f'file_contents \n{file_contents}')
print(file1.closed)    
print(f'file_contents \n{file_contents}')

file_contents
This is line 1
This is line 2
This is line 3
True
file_contents
This is line 1
This is line 2
This is line 3

### Read Multiple lines

In [120]:
with open(example1_path,'r') as file1:
    file_contents = file1.readlines()
    print(f'file_contents \n{file_contents}')
print(file1.closed)    
print(f'file_contents \n{file_contents}')

file_contents
['This is line 1 \n', 'This is line 2\n', 'This is line 3']
True
file_contents
['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [121]:
with open(example1_path,'r') as file1:
    file_contents = file1.readline()
    print(f'file_contents \n{file_contents}')
print(file1.closed)    
print(f'file_contents \n{file_contents}')

file_contents
This is line 1

True
file_contents
This is line 1

In [122]:
with open(example1_path,'r') as file1:
    for i,line in enumerate(file1):
        print(f'Line {i+1} contains {line}')

Line 1 contains This is line 1

Line 2 contains This is line 2

Line 3 contains This is line 3

# Writing files with open

In [123]:
example2_path ='../data/example2.txt'

In [124]:
with open(example2_path,'w') as file2:
    file2.write('This is line A')

In [125]:
with open(example2_path,'r') as file2:
        print(file2.read())

This is line A

In [126]:
with open(example2_path,'w') as file2:
    file2.write("This is line A\n")
    file2.write("This is line B\n")
    file2.write("This is line C\n")

In [127]:
lines = ["This is line D\n",
         "This is line E\n",
         "This is line F\n"]
lines

['This is line D\n', 'This is line E\n', 'This is line F\n']

In [128]:
with open(example2_path,'a') as file2:
    for line in lines:
        file2.write(line)

In [129]:
with open(example2_path,'r') as file2:
    print(file2.read())

This is line A
This is line B
This is line C
This is line D
This is line E
This is line F

In [130]:
example3_path ='../data/Example3.txt'

In [131]:
with open(example2_path,'r') as readfile:
    with open(example3_path,'w') as writefile:
        for line in readfile:
            writefile.write(line)

In [132]:
with open(example3_path,'r') as testfile:    
    print(testfile.read())

This is line A
This is line B
This is line C
This is line D
This is line E
This is line F

In [133]:
testfile.name

'../data/Example3.txt'

# Loading data with pandas

In [134]:
import pandas as pd

###  Read data from CSV file online

In [135]:
csv_url = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv'

In [136]:
df = pd.read_csv(csv_url)

In [137]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

###  Read data from CSV file on disk

### Download CSV file to local disk

In [138]:
!wget -O ./data/TopSellingAlbums.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv

./data/TopSellingAlbums.csv: No such file or directory

In [139]:
csv_path = '../data/TopSellingAlbums.csv'

In [140]:
df = pd.read_csv(csv_path)

In [141]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [142]:
df.iloc[0,0]

'Michael Jackson'

In [143]:
df.loc[0,'Artist']

'Michael Jackson'

In [144]:
df.loc[1,'Artist']

'AC/DC'

In [145]:
df.iloc[0:2,0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [146]:
df.loc[0:2,'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

## Working with and Saving data with pandas

In [147]:
df['Released']

0    1982
1    1980
2    1973
3    1992
4    1977
5    1976
6    1977
7    1977
Name: Released, dtype: int64

In [148]:
len(df['Released'])

8

In [149]:
df['Released'].unique()

array([1982, 1980, 1973, 1992, 1977, 1976])

In [150]:
len(df['Released'].unique())

6

In [151]:
df['Released']>=1980

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: Released, dtype: bool

In [152]:
new_songs = df[df['Released']>=1980]
new_songs

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5

In [153]:
new_songs.to_csv('../data/new_songs.csv')

In [154]:
with open('../data/new_songs.csv','r') as songsfile:    
    print(songsfile.read())

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,,9.5
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5